<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Cafein">

	<insert id="cafein-insert">
		insert into cafein values(cafein_seq.nextval,#{writer},#{name},#{address1},#{address2},#{day},#{open},#{finish},#{parking},#{id},#{email})
		<selectKey order="AFTER" keyProperty="seq" resultType="int">
			select cafein_seq.currval from dual
		</selectKey>
	</insert>
	<insert id="cafein_img-insert">
		insert into cafein_img values(cafein_img_seq.nextval,#{ori_name},#{sys_name},#{cafein_seq})
	</insert>
	
	<insert id="message">
		insert into message values(message_seq.nextval,#{title},#{sender},#{receiver},#{sender_email},#{receiver_email},#{contents},sysdate,#{cafein_seq},#{cafe})
	</insert>
	<insert id="message2">
		insert into message values(message_seq.nextval,#{title},#{sender},#{receiver},#{sender_email},#{receiver_email},#{contents},default,'','')
	</insert>
	
	
 	<insert id="cafein-like">
 	insert into cafein_like values(#{cafein_seq},#{id})
 	</insert>
 	
 	<select id="like-count" resultType="int">
			select count(*) from cafein_like where cafein_seq =#{cafein_seq}
    </select>
    
    <select id="like-check" resultType="kh.spring.dto.Cafein_likeDTO">
    select *from cafein_like where cafein_seq =#{cafein_seq} and id=#{id}
    </select>
	
 	<select id="cafein_img-select" resultType="kh.spring.dto.Cafein_imgDTO">
 	 select * from (select row_number() over(order by seq desc) as line, cafein_img.* from cafein_img) where line between #{start} and #{end}
 	</select>
	
	<select id="cafein_img-select2" resultType="kh.spring.dto.Cafein_imgDTO">
 	 select * from cafein_img order by seq
 	</select>
	
	<select id="cafein-detail" resultType="kh.spring.dto.CafeinDTO">
	select *from cafein where seq=#{cafein_seq}
	</select>
	
	<select id="cafein_img-detail" resultType="kh.spring.dto.Cafein_imgDTO">
	select *from cafein_img where cafein_seq=#{cafein_seq}
	</select>
	
	<select id="messagebox" resultType="kh.spring.dto.MessageDTO">
	select *from message where receiver_email=#{receiver_email} order by write_date desc
	</select>
	
	<delete id="cafein_img-delete">
	delete from cafein_img where cafein_seq=#{cafein_seq}
	</delete>
	
	<delete id="cafein-delete">
	delete from cafein where seq=#{cafein_seq}
	</delete>
	<delete id="cafein-like-cancel">
	delete from cafein_like where cafein_seq=#{cafein_seq} and id=#{id}
	</delete>
	
	<select id="cafein_imgfile" resultType="String">
	select sys_name from cafein_img where cafein_seq=#{cafein_seq}
	</select>
	

	
	<update id="cafein-update">
	update cafein set name=#{name},address1=#{address1},address2=#{address2},day=#{day},open=#{open},finish=#{finish},parking=#{parking} where seq=#{seq}
	</update>
	
	<update id="cafein_img-update">
 	update cafein_img set ori_name= #{ori_name}, sys_name=#{sys_name} where cafein_seq=#{cafein_seq}
 	</update>
 	
 	
</mapper>