<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Cafein">

	<insert id="cafein-insert">
		insert into cafein values(cafein_seq.nextval,'loginID',#{name},#{address1},#{address2},#{day},#{open},#{finish},#{parking})
		<selectKey order="AFTER" keyProperty="seq" resultType="int">
			select cafein_seq.currval from dual
		</selectKey>
	</insert>
	<insert id="cafein_img-insert">
		insert into cafein_img values(cafein_img_seq.nextval,#{ori_name},#{sys_name},#{cafein_seq})
	</insert>
 	
 	
 	
 	<select id="cafein_img-select" resultType="kh.spring.dto.Cafein_imgDTO">
 	select *from cafein_img order by seq desc
 	</select>
	
	<select id="cafein-detail" resultType="kh.spring.dto.CafeinDTO">
	select *from cafein where seq=#{cafein_seq}
	</select>
	
	<select id="cafein_img-detail" resultType="kh.spring.dto.Cafein_imgDTO">
	select *from cafein_img where cafein_seq=#{cafein_seq}
	</select>
	
	
	
	
	
	<delete id="cafein_img-delete">
	delete from cafein_img where cafein_seq=#{cafein_seq}
	</delete>
	
	<delete id="cafein-delete">
	delete from cafein where seq=#{cafein_seq}
	</delete>
	<select id="cafein_imgfile" resultType="String">
	select sys_name from cafein_img where cafein_seq=#{cafein_seq}
	</select>
	
	<update id="cafein-update">
	update cafein set name=#{name},address1=#{address1},address2=#{address2},day=#{day},open=#{open},finish=#{finish},parking=#{parking} where seq=#{seq}
	</update>
	
	<update id="cafein_img-update">
 	update cafein_img set ori_name= #{ori_name}, sys_name=#{sys_name}, where cafein_seq=#{cafein_seq}
 	</update>
 	
 	
</mapper>