<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="event"> <!-- SQL 쿼리문 넣는 곳 -->

<!-- 이벤트 및 공지 사항 게시글 작성 -->
	<insert id="insert">
		insert into Event values(Event_seq.nextVal,#{title},#{contents},'작성자 들어갈 자리',sysdate)
	</insert>
	
	<select id="event_selectAll" resultType="kh.spring.dto.EventDTO">
		select * from Event order by 1 desc
	</select>
	
	
	<select id="event_Detail" resultType="kh.spring.dto.EventDTO">
		select * from Event where seq=#{Event_seq}
	</select>
	
	<delete id="event_delete">
		delete from Event where seq=#{Event_seq}
	</delete>
	
<!-- 	추후 조회수 기능 추가 가능하면 다시 진행
	<update id="count"> 
		update Event set count = count +1 where seq=#{Event_seq}
	</update> 
-->
	
</mapper>