<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Feed">

	<!-- 최신순 무한스크롤 출력 -->
	<select id="selectAllrs" resultType="kh.spring.dto.Feed_imgDTO">
		select * from (select row_number() over(order by seq desc) as line, feed_img.* from feed_img) where line between #{start} and #{end}
	</select>

	<!-- 피드 검색결과 출력 -->
	<select id="feedSearchResult" resultType="kh.spring.dto.Feed_imgDTO">
		select * from (select row_number() over(order by cafefeed_seq desc) as line, CafeFeed.* from CafeFeed) where (REPLACE(title,' ','') like '%'||#{title}||'%') and (line between #{start} and #{end})
	</select>
	<select id="SearchByTitle" resultType="kh.spring.dto.SeqDTO">
		select cafefeed_seq from cafefeed where (REPLACE(title,' ','') like '%'||#{title}||'%')
	</select>
	<select id="feedSearchBySeq" resultType="kh.spring.dto.Feed_imgDTO">
		select * 
		from (select row_number() over(order by seq) as line, feed_img.* from feed_img 
		where (cafefeed_seq in 
		<foreach collection="list" item="arr" open="(" close=")" separator=",">
		#{arr.cafefeed_seq}
		</foreach>
		)) where (line between #{start} and #{end})
	</select>
	
	<!-- 피드 insert 기능 -->
	<insert id="feed-insert">
		insert into cafefeed values(cafefeed_seq.nextval,#{title},#{id},#{contents},default,default,default)
		<selectKey order="AFTER" keyProperty="cafefeed_seq" resultType="int">
			select cafefeed_seq.currval from dual
		</selectKey>
	</insert>
	<!-- 피드 사진 insert 기능 -->
	<insert id="feed_img-insert">
		insert into feed_img values(feed_img_seq.nextval,#{ori_name},#{sys_name},#{cafefeed_seq})
	</insert>
	<!-- 피드 사진 select 기능 -->
	<select id="feed_img-select" resultType="kh.spring.dto.Feed_imgDTO"> 
 		select * from (select row_number() over(order by seq desc) as line, feed_img.* from feed_img) where line between #{start} and #{end}
 	</select>
 	<!-- 피드 디테일뷰 -->
 	<select id="feed-detail" resultType="kh.spring.dto.FeedDTO">
		select * from cafefeed where cafefeed_seq=#{cafefeed_seq}
	</select>
	<!-- 피드 디테일뷰 사진 -->
	<select id="feed_img-detail" resultType="kh.spring.dto.Feed_imgDTO">
		select * from feed_img where cafefeed_seq=#{cafefeed_seq}
	</select>
	
	<!-- 리뷰 게시글 삭제 -->
	<delete id="feed-delete">
		delete from cafefeed where cafefeed_seq=#{cafefeed_seq}
	</delete>
	
	<!-- 리뷰 이미지 삭제 -->
	<delete id="feed_img-delete">
		delete from feed_img where cafefeed_seq=#{cafefeed_seq}
	</delete>
	
	<!-- 리뷰 이미지 파일 불러오기 -->
	<select id="feed_imgfile" resultType="String">
		select sys_name from feed_img where cafefeed_seq=#{cafefeed_seq}
	</select>
	
	<!-- 댓글 쓰기 -->
	<insert id="reply_insert">
		insert into cafefeedReply values(cafefeedReply_seq.nextval,#{id},#{contents},default,#{cafefeed_seq})
	</insert>
	
	<!-- 댓글 리스트 불러오기 -->
	
	<select id="replylist_select" resultType="kh.spring.dto.ReplyDTO">
		select * from (select row_number() over(order by write_date desc) as line, cafefeedReply.* from cafefeedReply) where (line between #{start} and #{end}) and (cafefeed_seq=#{cafefeed_seq})
	</select>
	<!-- 댓글 삭제하기 -->
	<delete id="reply_delete">
		delete from cafefeedReply where seq=#{seq}
	</delete>
	<!-- 댓글 수정하기 -->
	<update id="reply_update">
		update cafefeedReply set contents=#{contents} where seq=#{seq}
	</update>
	<select id="replylist_selectOne" resultType="kh.spring.dto.ReplyDTO">
		select * from cafefeedReply where seq=#{seq}
	</select>
	
	<!-- 피드 게시글 수정하기 -->
	
	<update id="feed-update">
		update cafefeed set title=#{title}, contents=#{contents} where cafefeed_seq=#{cafefeed_seq}
	</update>
	
	<update id="feed_img-update">
 		update feed_img set ori_name= #{ori_name}, sys_name=#{sys_name} where cafefeed_seq=#{cafefeed_seq}
 	</update>
 	
	<!-- 글 조회수업 -->
	<update id="countUp">
		update cafefeed set view_count = view_count +1 where cafefeed_seq=#{cafefeed_seq}
	</update>
	<!-- 피드 댓글 수 가져오기 -->
	<select id="feed-replyCount" resultType="int">
		select count(*) from cafefeedReply where cafefeed_seq=#{cafefeed_seq}
	</select>
	<select id="feed-replyInfo" resultType="String">
		select contents from cafefeedReply where seq=#{seq}
	</select>
	<!-- 북마크 추가, 삭제 -->
	<insert id="bookmarkInsert">
		insert into bookmark values(#{cafefeed_seq}, #{id})
	</insert>
	<delete id="bookmarkDelete">
		delete from bookmark where (cafefeed_seq = #{cafefeed_seq}) and (id = #{id})
	</delete>
	<select id="isDetailBook" resultType="kh.spring.dto.BookmarkDTO">
		select * from bookmark where (cafefeed_seq = #{cafefeed_seq}) and (id = #{id})
	</select>
<!-- 	<select id="isBookChecking" resultType="int"> -->
<!-- 		select count(*) from bookmark where (cafefeed_seq = #{cafefeed_seq}) and (id = #{id}) -->
<!-- 	</select> -->
	<!-- 좋아요 추가, 삭제 -->
	<insert id="likeInsert">
		insert into feed_like values(#{cafefeed_seq}, #{id})
	</insert>
	<delete id="likeDelete">
		delete from feed_like where (cafefeed_seq = #{cafefeed_seq}) and (id = #{id})
	</delete>
	<select id="isLikeOk" resultType="kh.spring.dto.Feed_likeDTO">
		select * from feed_like where (cafefeed_seq = #{cafefeed_seq}) and (id = #{id})
	</select>
	<select id="isLikeCnt" resultType="int">
		select count(*) from feed_like where cafefeed_seq = #{cafefeed_seq}
	</select>
	
</mapper>