<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Manager">

	<select id="selectNomal" resultType="kh.spring.dto.MemberDTO">
 	select * from member where mem_level = 0
 	</select>
 	
 	<select id="selectCEO" resultType="kh.spring.dto.MemberDTO">
 	select * from member where mem_level = 1
 	</select>
 	
 	<select id="selectIMG" resultType="String">
 	select mem_ceocheckimg from member where mem_id=#{mem_id}
 	</select>
 	
 	<select id="delete">
 	delete from member where mem_id=#{mem_id}
 	</select>
 	
 	<select id="CEOok">
 	update member set mem_level = 1 where mem_id= #{mem_id}
 	</select>
 	
 	<select id="leveldown">
 	update member set mem_level = 0 where mem_id= #{mem_id}
 	</select>

</mapper>