<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Member">
	
	<!-- 아이디 중복 체크 -->
	<select id="memberIdCheck" resultType="int">
		select count(*) from member where mem_id = #{id}
	</select>
	
	<!-- 이메일 인증 -->
	<insert id="emailCheck">
		insert into member_email_num values(me_seqNum.nextVal,#{email}, #{num}, default)
	</insert>
	
	<!-- 이메일 인증 확인 -->
	<select id="emailNumcheck" resultType="int">
		select * from (select me_num from member_email_num where me_email = #{email} and me_time >= SYSDATE - (3/1440) order by me_seq desc) where rownum = 1 
	</select>
	
	<!-- 이메일 인증 삭제 -->
	<delete id="emailNumDelete">
		delete from member_email_num where me_email = #{email}
	</delete>

	<!-- 회원가입 처리 -->
	<insert id="joinAction">
		insert into member values(mem_seq.nextVal,#{mem_id},#{mem_pw},#{mem_name},#{mem_email},#{mem_phone},0,0,'','',sysdate,'')
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="kh.spring.dto.MemberDTO">
		select * from member where mem_Id = #{mem_id}
	</select>
	
	<!-- 카카오 계정 생성 확인 -->
	<select id="kakaoLoginCheck" resultType="kh.spring.dto.MemberDTO">
		select * from member where mem_id = #{mem_id}
	</select>
	
	<!-- 카카오 계정 생성 -->
	<insert id="kakaoJoinAction">
		insert into member (mem_seq,mem_id,mem_name,mem_email) values(mem_seq.nextval,#{mem_id},#{mem_name},#{mem_email})
	</insert>
	
	<!-- 아이디 및 패스워드 찾기 -->
	<select id="idSearch" resultType="kh.spring.dto.MemberDTO">
		select mem_seq, mem_id from member where mem_email = #{email} 
	</select>
	
	<!-- 패스워드변경 -->
	<update id="passwordCheange">
		update member set mem_pw = #{mem_pw} where mem_seq = #{mem_seq}
	</update>
	<!-- 이메일 중복 확인 -->
	<select id="memberemailCheck" resultType="int">
		select count(*) from member where mem_email = #{email}
	</select>
</mapper> 
