<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mypage">

	<select id="selectID" resultType="kh.spring.dto.MemberDTO">
		select * from member where mem_id = #{value } order by 1 desc
	</select>
	
	<select id="selectcafeinimg" resultType="kh.spring.dto.Cafein_imgDTO">
		select * from cafein join cafein_img on cafein.SEQ = cafein_seq where cafein.id = #{value }
	</select>
	
	<select id="selectfeedimg" resultType="kh.spring.dto.Feed_imgDTO">
		select * from cafefeed join feed_img on cafefeed.cafefeed_seq = feed_img.cafefeed_seq where cafefeed.id = #{value }	
	</select>
	
	<update id="mypageUpdate" >
		update member set mem_img = #{mem_img }, mem_name=#{mem_name }, mem_phone=#{mem_phone}, mem_oriname = #{mem_oriname} where mem_id = #{mem_id}  
	</update>
	
	<delete id="memberout" >
		delete from member where mem_id = #{value }
	</delete>
	
	<!-- <select id="mycount">
		select count(*) count from cafefeed join feed_img on cafefeed.cafefeed_seq = feed_img.cafefeed_seq where cafefeed.id = ${value };
	</select>
	
	<select id="cafeincount">		
		select count(*) count from cafefeed join feed_img on cafefeed.cafefeed_seq = feed_img.cafefeed_seq where cafefeed.id = ${value };
	</select> -->

</mapper>