<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="qreply">
  
  <select id = "reply_list" resultType="kh.spring.dto.QreplyDTO">
  	select * from reply where question_seq = #{question_seq}
  </select>
  
  
  <insert id = "reply_insert">
    insert into reply values(reply_seq.nextval, #{question_seq}, #{contents}, 123, sysdate)
  </insert>
 
  </mapper>